doctype html
html
  style.
    body {
    background-color: black;
    color: white;
    }
    #video {
    width: 960px;
    height: 540px;
    }
    .centered {
    margin: auto;
    text-align: center;
    }
  body
    .centered
      video#video(controls='')
    script
      | document.addEventListener("DOMContentLoaded", (event) => {
      |   var videoElement = document.getElementById('video');
      |   var url = Vivoh.websocket.generateUrl(
      |      document.location.protocol,
      |      document.location.host,
      |      document.location.pathname,
      |      document.location.search);
      |   var flvPlayer = flvjs.createPlayer({type: 'flv', url: url});
      |   flvPlayer.attachMediaElement(videoElement);
      |   flvPlayer.load();
      | });
    script !{ws_utils_js}
    script !{flv_min_js}

